body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  margin: 0 !important;
}

/* .header { */
/* height: 10%; */
/* } */

.main {
  min-height: calc(100vh - 100px - 56px);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  /* justify-content: center; */
  overflow: auto;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* height: 20%; */
  background-color: blueviolet;
}

.nav-link:hover {
  color: #4e95fd !important;
}
