.form-text {
  text-align: center;
  padding: 10px;
}

.icon-container div {
  text-align: center;
}

.icon-container div svg:hover {
  cursor: pointer;
  color: #0a58ca;
}

.form-signout {
  padding: 40px 0;
}

.auth-form-container {
  width: 380px;
  margin: 0 auto;
}

.btn-container div {
  padding: 1px;
}

.btn-auth {
  /* border-radius: 0; */
  width: 100%;
}
